:root {
    font-family: "Poppins", sans-serif;
}

h1, h2 {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #171717;
}

.container {
    width: 1350px;
    background-color: #212121;
    border-radius: 20px;
    padding: 40px;
}

h1 {
    margin-bottom: 100px;
    font-size: 3.12rem;
    animation: rgb 3s infinite linear;
    text-align: center;
    animation-delay: 0.2s;
}
@keyframes rgb {
  0% {
    color: rgb(255, 0, 0);
    text-shadow:
      0 0 6px rgb(220, 80, 80),
      0 0 12px rgb(180, 60, 60);
  }
  33% {
    color: rgb(0, 255, 0);
    text-shadow: 0 0 10px green, 0 0 20px green;
  }
  66% {
    color: rgb(0, 150, 255);
    text-shadow: 0 0 10px blue, 0 0 20px blue;
  }
  100% {
    color: rgb(220, 80, 80);
    text-shadow:
      0 0 6px rgb(220, 80, 80),
      0 0 12px rgb(180, 60, 60);
  }
}

@keyframes cascata {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.entrada {
  opacity: 0;
  animation: cascata 0.8s ease forwards;
}

video {
    width: 75rem;
    max-width: 100%;
    border-radius: 10px;
    will-change: transform;
    contain: content;
}

#videos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    padding-bottom: 30px;
    animation-delay: 0.4s;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container:nth-child(1) {
  animation-delay: 0.6s;
}

.video-container:nth-child(2) {
  animation-delay: 0.9s;
}

.video-container:nth-child(3) {
  animation-delay: 1.2s;
}

.video-container:nth-child(3) {
  animation-delay: 1.5s;
}

.video-container h2 {
    margin-bottom: 10px;
    font-size: 1.87rem;
    color: rgb(228, 146, 88);
}

@media screen and (max-width: 1024px) {
    .container {
        width: 90%;
        padding: 30px;
    }

    h1 {
        font-size: 2.4rem;
        margin-bottom: 70px;
    }

    video {
        width: 100%;
    }

    .video-container h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    #videos {
        gap: 5rem;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 95%;
        padding: 20px;
        border-radius: 15px;
    }

    h1 {
        font-size: 1.8rem;
        margin-bottom: 40px;
    }

    .video-container h2 {
        font-size: 1.2rem;
        padding: 0 10px;
    }

    #videos {
        gap: 3rem;
    }
}